<footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="/">Back to top</a>
      </p>
      <p>Created with love by &copy; Rohit</p>
      <p>New on my Website? <a href="/">Visit the homepage</a> or Get Register  <a href="/register">Register here</a>.</p>
    </div>
  </footer>